.row.row1 .col-4 img,
.row.row1 .col-lg-8 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    margin-top: 20px;
}

/* .no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}

span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
} */
         
  

@media (max-width: 767px) {
    .row.row1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .row.row2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* Untuk dukungan scrolling yang lebih baik pada iOS */
    }

    .footer-wrapper .row {
        flex-wrap: wrap;
    }

    .footer-wrapper .col-lg-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
}