.row.row1 .col-4 img,
.row.row1 .col-lg-8 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    margin-top: 20px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  

@media (max-width: 767px) {
    .row.row1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .row.row2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* Untuk dukungan scrolling yang lebih baik pada iOS */
    }

    .footer-wrapper .row {
        flex-wrap: wrap;
    }

    .footer-wrapper .col-lg-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
}